<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <connectionStrings>
    <add name="database_mysql" connectionString="server=localhost;user id=root;&#xD;&#xA;             password=123456;database=ocv;Character Set=utf8" />
  </connectionStrings>
  <appSettings>
    <add key="Sr2000wIp" value="172.30.120.6" />
    <add key="Bt3562Baudrate" value="9600" />
    <add key="Bt3562Com" value="COM10" />
    <add key="Fx5uId" value="4" />
    <add key="DeviceLabels" value="D101\nD103\nD104\nD144\nD170\nD114\nD115\nD171\nD172\nD149" />
    <add key="MonitorCycle" value="1" />
    <add key="DeviceNumber" value="10" />
    <add key="DeviceValueArray" value="1,1,1,1,1,1,1,1,1,1" />
    <add key="UserId" value="40732" />
    <!--<add key="UserPwd" value="123456" />-->
    <add key="UserName" value="" />
    <add key="BatteryNum" value="2" />
    <add key="maxResistance" value="0.04" />
    <add key="minResistance" value="0.03" />
    <add key="maxVoltage" value="4" />
    <add key="minVoltage" value="3" />
    <add key="errorRate" value="0.8" />
    <add key="sr2000wTimeOut" value="4000" />
    <add key="statisticNum" value="100" />
    <add key="logDisplayNum" value="40" />
    <add key="batteryDisplayNum" value="40" />
    <add key="temperatureCom" value="COM11"/>
    <add key="maxTem" value="0"/>
    <add key="minTem" value="0"/>
    <add key="temCoeff" value="0.0"/>
    <add key="tech_no" value="tech_no"/>
    <add key="operation_id" value="O1T"/>
    <add key="maxK" value="0.1"/>
    <add key="minK" value="-0.1"/>
    <add key="tech_Std" value="VK2698B5"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>